@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
/* Первый Экран*/ 
.first-screen{
    background-image:url(bgc.png);
    height:950px;
    width:1920px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/*header*/ 
header {
    display: flex;
    width: 100%;
    height: 52px;
    justify-content: center;
    margin-bottom: 523px;
}
/* Ссылки в шапке*/ 
 .top-line-link {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%; 
}
/*Ссылки шапки(Левые) */
header .top-left_link {
    padding-top: 43px;
}
.top-left_link a{
margin-right: 40px;
}
/*Ссылки шапки(Правые) */
header .top-right_link,.top-right_link .top_function{
    display: flex;
    flex-direction: row;
}   

/* Отсупы в header*/
.top-right_link .top_function{
    padding-top: 43px;
    margin-right: 44px;
}

.top-right_link .top_function a{
margin-right: 40px;
}

.top-right_link .top_icon{
    padding-top: 45px;
}

.top-right_link .top_icon a{
    margin-right: 30px;
}

.top-right_link .top_function .icon_small{
    margin-right: 16px;
}

header .top_logo{
    margin: 25px 102px 0px 126px;
}

.top_icon{
    display: flex;
    margin-top: 43px 30px;
}
.name_h1 h1{
    margin-bottom: 50px;
    width: 730px;
    height: 49px;
    align: center;
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align:center;
    color:#fff;
}
/*  Сслыка каталога*/
.first-screen .button_catalog a{
    font-style: normal;
    font-weight: 500px;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: 191px;
}
.first-screen .button_catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background: #333333;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    padding: 15px 35px;
    width: 261px;
    height: 51px;
    left: 830px;
    top: 699px;
    margin-bottom: 80px;
}
/*Иконки брендов блоку*/
.first-screen_brands{
    width: 100%;
    height: 120px;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border-top: 1px solid #fff;
}
/*Иконки брендов картинкам*/
.first-screen_brands-item{
    width: 190px;
    height: 60px;
    color: #fff;
    padding:0 15px 0 15px;
    border-right: 1px solid #fff;
}
/*Иконки брендов правой картинке*/
.first-screen_brands-item01{
    width: 190px;
    height: 60px;
    color: #fff;
    padding:0 15px 0 15px;
}

.sec-screen{
    background-color:#E5E5E5;
        height:851px;
        max-width: 1110px;
        left: 0px;
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .sec-screen .title_02{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

.sec-screen .title_02 h5{
    width: 350px;
    height: 29px;
    font-family:'Noto Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    text-align: center;
    color: #333333;
    margin: 15 0px;
}
.sec-screen .title_02 h2{
    width: 540px;
    height: 41px;
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
}
.sec-screen_list .two-scr-list_item{
    width: 165px;
    height: 55px;
    background: #F9F9F9;
    border: 1px solid #D6D6D6;
}
.sec-screen_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sec-screen_list .two-scr-list_item a{
    font-family:'Noto Serif', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
} 
.sec-screen_list .two-scr-list_item a:hover{
    background-color: #333333;
    color: #FFFFFF;
}
.sec-screen_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sec-screen_list.two-scr-list_item{
    width: 350px;
    height: 280px;
}



